version: "3"

services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    restart: always
    ports:
      - 9870:9870
      - 9000:9000
    volumes:
      - hadoop_namenode:/hadoop/dfs/name
      - ./contenue:/contenue
    environment:
      CLUSTER_NAME: "test"
      HADOOP_USER_NAME: "hvan"
    env_file:
      - ./hadoop.env
    networks:
      - hadoopnet

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    restart: always
    ports:
      - 9864:9864
      - 9866:9866
      - 9867:9867
    volumes:
      - hadoop_datanode:/hadoop/dfs/data
      - ./contenue:/contenue
    environment:
      SERVICE_PRECONDITION: "namenode:9870"
      HADOOP_USER_NAME: "hvan"
    env_file:
      - ./hadoop.env
    networks:
      - hadoopnet
  
  resourcemanager:
    image: bde2020/hadoop-resourcemanager:2.0.0-hadoop3.2.1-java8
    container_name: resourcemanager
    restart: always
    environment:
      SERVICE_PRECONDITION: "namenode:9000 namenode:9870 datanode:9864"
      HADOOP_USER_NAME: "hvan"
    env_file:
      - ./hadoop.env
    networks:
      - hadoopnet

  nodemanager:
    image: bde2020/hadoop-nodemanager:2.0.0-hadoop3.2.1-java8
    container_name: nodemanager
    restart: always
    environment:
      SERVICE_PRECONDITION: "namenode:9000 namenode:9870 datanode:9864 resourcemanager:8088"
      HADOOP_USER_NAME: "hvan"
    env_file:
      - ./hadoop.env
    networks:
      - hadoopnet
  
  historyserver:
    image: bde2020/hadoop-historyserver:2.0.0-hadoop3.2.1-java8
    container_name: historyserver
    restart: always
    environment:
      SERVICE_PRECONDITION: "namenode:9000 namenode:9870 datanode:9864 resourcemanager:8088"
      HADOOP_USER_NAME: "hvan"
    volumes:
      - hadoop_historyserver:/hadoop/yarn/timeline
    env_file:
      - ./hadoop.env
    networks:
      - hadoopnet


  
volumes:
  hadoop_namenode:
  hadoop_datanode:
  hadoop_historyserver:


networks:
  hadoopnet:
    driver: bridge
    name: hadoopnet
    driver_opts:
      com.docker.network.bridge.name: br-hadoopnet
      com.docker.network.bridge.host_binding_ipv4: "0.0.0.0"
    ipam:
      driver: default
      config:
        - subnet: "172.28.0.0/16"
